<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <div class="row">
                <label class="col-2 mt-1">Cliente:</label>
                <div class="col-10">
                    <input type="text" pInputText [(ngModel)]="clienteFilter">
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="row">
                <label class="col-4 mt-1">Rango de Fechas:</label>
                <div class="col-8">
                    <p-calendar [(ngModel)]="fechaRango" [dateFormat]="'dd M yy'" selectionMode="range" [readonlyInput]="true" (onSelect)="getFechas()" appendTo="body"></p-calendar>
                </div>
            </div>
        </div>
        <div class="col-2 mt-1">
            <div class="row">
                <div class="col-1">
                    <p-checkbox></p-checkbox>
                </div>
                <label class="col-11">Ver cotizaciones o ventas anuladas</label>
            </div>
        </div>
        <div class="col-4">
            <div class="float-end">
                <p-button label="Nuevo" styleClass="default-button" (click)="nuevo()" [style]="{width: '90px', height: '26px'}"></p-button>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-12" style="--height-table: 75vh">
            <p-table #dt [value]="cotizaciones" [(contextMenuSelection)]="rowSelected" [contextMenu]="cm" responsiveLayout="scroll" [lazy]="true" (onLazyLoad)="loadEmpleados($event)" 
                [paginator]="true" [rows]="30" [totalRecords]="totalRecords">
                
                <ng-template pTemplate="header">
                    <tr>
                        <th style="--header-table: 40px">N</th>
                        <th style="--header-table: 110px">Código</th>
                        <th style="--header-table: 80px">Tip. Doc.</th>
                        <th style="--header-table: 80px">Nro. Doc.</th>
                        <th>Cliente</th>
                        <th style="--header-table: 100px">Fecha Ent.</th>
                        <th style="--header-table: 300px">Contacto</th>
                        <th style="--header-table: 150px">Frm. Pago</th>
                        <th style="--header-table: 150px">Sld. Pago</th>
                        <th style="--header-table: 60px" title="moneda">Mnd.</th>
                        <th style="--header-table: 80px">Venta</th>
                        <th style="--header-table: 100px" title="Cantidad de Productos">Cnt. Prods.</th>
                        <th style="--header-table: 100px" title="Cantidad de Despachos">Cnt. Desps.</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-emp let-i="rowIndex">
                    <tr [ngClass]="{'selected':indFilaEditada == i}" [pContextMenuRow]="emp">
                        <td class="text-center">{{i + 1 | number: '2.0-0'}}</td>
                        <td class="text-uppercase text-center">{{emp.codigo}}</td>
                        <td class="text-uppercase text-center">{{emp.tdoc}}</td>
                        <td class="text-uppercase">{{emp.ndoc}}</td>
                        <td class="text-uppercase">{{emp.cliente}}</td>
                        <td class="text-uppercase text-center">{{emp.fecha_entrega_base | date:'dd MMM yyyy'}}</td>
                        <td class="text-uppercase">{{emp.contacto}}</td>
                        <td class="text-uppercase" [title]="emp.forma_pago">{{emp.forma_pago_abrv}}</td>
                        <td class="text-uppercase" [title]="emp.saldo_pago">{{emp.saldo_pago_abrv}}</td>
                        <td class="text-center" [title]="emp.nmon">{{emp.snom}}</td>
                        <td class="text-end">{{emp.total | number:'2.2-2':'en'}}</td>
                        <td class="text-center">{{emp.cnt_prods}}</td>
                        <td class="text-center last-column">{{emp.cnt_dsps}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
<p-contextMenu #cm [model]="optionsRc"></p-contextMenu>