<div class="container-fluid">
    <div class="row mt-3">
        <div class="col-2">
            <div class="row">
                <label class="col-2 col-form-label">Planta: </label>
                <div class="col-10">
                    <div class="col-7">
                        <p-dropdown [disabled]="blnHayResponsable || blnProduccion" [options]="plantas" [(ngModel)]="plantaSeleccionada" [autoDisplayFirst]="false" placeholder="Seleccione" (onChange)="validarEncargado()" appendTo="body" optionLabel="nombre"></p-dropdown>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <label class="col-form-label" *ngIf="encargado">Encargado: {{encargado}}</label>
        </div>
        <div class="col-6">
            <div class="float-end">
                <p-button [disabled]="!blnHayResponsable || !blnCalidad" label="Iniciar Cal." title="Iniciar proceso de calidad" styleClass="default-button" (click)="calidad()" [style]="{width: '90px', height: '26px'}"></p-button>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12" style="--height-table:85vh">
            <p-table [value]="listadoProduccion" responsiveLayout="scroll">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="--header-table: 40px" class="text-center" *ngIf="!blnCalidad">
                            <button [disabled]="!blnHayResponsable" pButton pRipple type="button" (click)="addProductoProducido()" icon="pi pi-plus" class="p-button-rounded p-button-success p-button-text plus-header"></button>
                        </th>
                        <th style="--header-table: 40px">N</th>
                        <th style="--header-table: 100px">Ord. Trab.</th>
                        <th style="--header-table: 120px">Fecha</th>
                        <th>Producto</th>
                        <th style="--header-table: 80px">Cnt.</th>
                        <th style="--header-table: 150px">Stk. Producción</th>
                        <th style="--header-table: 40px">C/NC</th>
                        <th style="--header-table: 150px">Stk. Calidad</th>
                        <th style="--header-table: 450px">Observaciones</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-prod let-i="rowIndex">
                    <tr (click)="asignarFila(i)" [ngClass]="{'selected': validarFila == i}">
                        <td class="text-center">
                            <div class="col-12 botones" *ngIf="!blnCalidad">
                                <button *ngIf="blnFilaAniadidaSinGuardar && validarFila == i" pButton pRipple type="button" (click)="guardar(i)" icon="pi pi-save" class="p-button-rounded p-button-primary btn-body"></button>
                            </div>
                        </td>
                        <td class="text-center">{{prod.nroProduccion | number:'2.0-0'}}</td>
                        <td>
                            <p-autoComplete *ngIf="blnFilaAniadidaSinGuardar && validarFila == i" (onSelect)="setOrdenTrabajo($event, i)" [(ngModel)]="prod.ordenTrabajo" (completeMethod)="ordenTrabajoAutocomplete($event)" [suggestions]="listadoOrdenesTrabajo" field="codigo" [minLength]="1" appendTo="body" styleClass="autocomplete-table" [showEmptyMessage]="true"></p-autoComplete>
                            <label *ngIf="!blnFilaAniadidaSinGuardar || validarFila != i" class="col-form-label">{{prod.ordenTrabajo?.codigo}}</label>
                        </td>
                        <td class="text-center text-uppercase">{{prod.fecha | date:'dd MMM yyyy'}}</td>
                        <td>
                            <p-autoComplete *ngIf="prod.ordenTrabajo && (blnFilaAniadidaSinGuardar && validarFila == i)" [(ngModel)]="prod.ordenTrabajoDetalle" (completeMethod)="findProducto($event, i)" [suggestions]="prod.listadoAutocompleteAux" field="ordenVentaDetalle.producto.nombre" [minLength]="1" appendTo="body" styleClass="autocomplete-table" [showEmptyMessage]="true"></p-autoComplete>
                            <label *ngIf="!blnFilaAniadidaSinGuardar || validarFila != i" class="col-form-label">{{prod.ordenTrabajoDetalle?.ordenVentaDetalle?.producto?.nombre}}</label>
                        </td>
                        <td class="text-center">
                            <div *ngIf="prod.ordenTrabajoDetalle && (blnFilaAniadidaSinGuardar && validarFila == i)" class=" text-center">
                                <p-inputNumber *ngIf="prod.ordenTrabajoDetalle?.ordenVentaDetalle?.producto?.tipoProducto?.tablaAuxiliarDetalleId?.id == 2" class="inputnumber-table" [(ngModel)]="prod.cantidad"></p-inputNumber>

                                <label *ngIf="prod.ordenTrabajoDetalle?.ordenVentaDetalle?.producto?.tipoProducto?.tablaAuxiliarDetalleId?.id == 1" class="col-form-label text-center">{{prod.cantidad | number:'2.0-0'}}</label>
                            </div>
                            <label *ngIf="!blnFilaAniadidaSinGuardar || validarFila != i" class="col-form-label">{{prod.cantidad | number:'2.0-0'}}</label>
                        </td>
                        <td class="text-center">
                            <input *ngIf="blnFilaAniadidaSinGuardar && validarFila == i" pInputText class="custom-input-table" type="text" [(ngModel)]="prod.stickerProduccion">
                            <label *ngIf="!blnFilaAniadidaSinGuardar || validarFila != i" class="col-form-label">{{prod.stickerProduccion}}</label>
                        </td>
                        <td class="text-center">
                            <p-checkbox *ngIf="blnFilaAniadidaSinGuardar && validarFila == i" [disabled]="!blnCalidad" [(ngModel)]="prod.indConformidad" [binary]="true"></p-checkbox>
                            <label *ngIf="!blnFilaAniadidaSinGuardar || validarFila != i" class="col-form-label">{{prod.indConformidad?'SÍ':'NO'}}</label>
                        </td>
                        <td>
                            <input *ngIf="blnFilaAniadidaSinGuardar && validarFila == i" pInputText class="custom-input-table" type="text" [disabled]="!blnCalidad || !prod.indConformidad" [(ngModel)]="prod.stickerCalidad">
                            <label *ngIf="!blnFilaAniadidaSinGuardar || validarFila != i" class="col-form-label">{{prod.stickerCalidad}}</label>                            
                        </td>
                        <td>
                            <input *ngIf="blnFilaAniadidaSinGuardar && validarFila == i" pInputText class="custom-input-table" type="text" [disabled]="!blnCalidad || !prod.indConformidad" [(ngModel)]="prod.observacion">
                            <label *ngIf="!blnFilaAniadidaSinGuardar || validarFila != i" class="col-form-label">{{prod.observacion}}</label>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>