<div class="container-fluid">
    <div class="row mt-3">
        <div class="col-1">
            <div class="row">
                <label  class="col-3 col-form-label">Planta</label> 
                <div class="col-9">
                    <p-dropdown placeholder="Seleccione" (onChange)="setListado()" [options]="plantas" [(ngModel)]="plantaSeleccionada" placeholder="Seleccione" appendTo="body" [autoDisplayFirst]="false" optionLabel="nombre"></p-dropdown>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="row">
                <label  class="col-4 col-form-label">Responsable</label> 
                <div class="col-8">
                    <input type="text" pInputText [(ngModel)]="responsable">
                </div>
            </div>
        </div>
        <label class="col-4 col-form-label">Fecha: <span class="text-uppercase">{{fecha | date:'dd MMM yyyy'}}</span></label>
    </div>
    <div class="row mt-3">
        <div class="col-12" style="--height-table:85vh">
            <p-table [value]="listado" responsiveLayout="scroll">
                <ng-template pTemplate="header">
                    <tr>
                        <th rowspan="2" style="--header-table: 40px" class="text-center">
                            <button (click)="addRegistro()" [disabled]="!plantaSeleccionada || !responsable " pButton pRipple type="button" icon="pi pi-plus" class="p-button-rounded p-button-success p-button-text plus-header"></button>
                        </th>
                        <th rowspan="2" style="--header-table: 40px">N</th>
                        <th rowspan="2" style="--header-table: 100px">Ord. Trab.</th>
                        <th rowspan="2">Producto</th>
                        <th rowspan="2" style="--header-table: 80px">Hora</th>
                        <th rowspan="2" style="--header-table: 80px" title="Cantidad de varillas usadas">Cnt. Var.</th>
                        <th [attr.colspan]="listadoFierroEstructura.length" style="--header-table: 80px" title="Cantidad de varillas por diametro">Diam. Var.</th>
                        <th rowspan="2" style="--header-table: 90px" title="Número de alambre en el amarre">Alm. Amrr.</th>
                        <th [attr.colspan]="listadoMedidaRoldana.length" style="--header-table: 80px" title="Cantidad de roldanas por diametro">Diam. Rol.</th>
                        <th rowspan="2" style="--header-table: 80px" title="Cantidad de electrodos usados">Cnt. Elct.</th>
                        <th rowspan="2" style="--header-table: 80px" title="Cantidad de accesorios armados">Cantidad</th>
                        <th rowspan="2" style="--header-table: 40px" title="Cantidad roldana">C/NC</th>
                        <th rowspan="2" style="--header-table: 300px" title="Cantidad roldana">Observación</th>
                    </tr>
                    <tr>
                        <th *ngFor="let vari of listadoFierroEstructura" style="--header-table: 60px">{{vari.abreviatura}}</th>
                        <th *ngFor="let rol of listadoMedidaRoldana" style="--header-table: 60px">{{rol.abreviatura}}</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-prod let-i="rowIndex">
                    <tr (click)="asignarFila(i)" [ngClass]="{'selected': validarFila == i}">
                        <td class="text-center">
                            <div class="col-12 botones" *ngIf="blnFilaAniadidaSinGuardar && validarFila == i">
                                <button (click)="guardar(i)" pButton pRipple type="button" icon="pi pi-save" class="p-button-rounded p-button-primary btn-body"></button>
                            </div>
                        </td>
                        <td class="text-center">{{i+1 | number:'2.0-0'}}</td>
                        <td class="text-center">
                            <p-autoComplete *ngIf="blnFilaAniadidaSinGuardar && validarFila == i" (onSelect)="setOrdenTrabajo($event, i)" [(ngModel)]="prod.ordenTrabajo" (completeMethod)="ordenTrabajoAutocomplete($event)" [suggestions]="listadoOrdenesTrabajo" field="codigo" [minLength]="1" appendTo="body" styleClass="autocomplete-table" [showEmptyMessage]="true"></p-autoComplete>
                            <label *ngIf="!blnFilaAniadidaSinGuardar || validarFila != i" class="col-form-label">{{prod.ordenTrabajo?.codigo}}</label>
                        </td>
                        <td class="text-center">
                            <p-autoComplete *ngIf="prod.ordenTrabajo && (blnFilaAniadidaSinGuardar && validarFila == i)" [(ngModel)]="prod.ordenTrabajoDetalle" (completeMethod)="findProducto($event, i)" [suggestions]="prod.listadoAutocompleteAux" field="ordenVentaDetalle.producto.nombre" [minLength]="1" appendTo="body" styleClass="autocomplete-table" [showEmptyMessage]="true"></p-autoComplete>
                            <label *ngIf="!blnFilaAniadidaSinGuardar || validarFila != i" class="col-form-label">{{prod.ordenTrabajoDetalle?.ordenVentaDetalle?.producto?.nombre}}</label>
                        </td>
                        <td class="text-center">
                            <p-calendar *ngIf="blnFilaAniadidaSinGuardar && validarFila == i" [(ngModel)]="prod.hora" appendTo="body" [disabled]="!prod.ordenTrabajoDetalle" [timeOnly]="true" [readonlyInput]="true"></p-calendar>
                            <label *ngIf="!blnFilaAniadidaSinGuardar || validarFila != i" class="col-form-label">{{prod.hora | date:'HH:mm'}}</label>
                        </td>
                        <td class="text-center">{{prod.cantVarillas | number:'2.0-0'}}</td>
                        <td class="text-center" *ngFor="let vari of prod.listadoDiametrosVarillaAux; let j = index">
                            <p-inputNumber *ngIf="blnFilaAniadidaSinGuardar && validarFila == i" (onInput)="sumCantVarillas($event, i, j)" [disabled]="!prod.ordenTrabajoDetalle" [(ngModel)]="vari.cantidad" class="inputnumber-table"></p-inputNumber>
                            <label *ngIf="!blnFilaAniadidaSinGuardar || validarFila != i" class="col-form-label">{{vari.cantidad}}</label>
                        </td>
                        <td class="text-center" style="--header-table: 90px">
                            <p-dropdown *ngIf="blnFilaAniadidaSinGuardar && validarFila == i" [disabled]="!prod.ordenTrabajoDetalle" [options]="listadoAlambreAmarre" [(ngModel)]="prod.nroAlambreAmarre" optionLabel="abreviatura" placeholder="Seleccione" appendTo="body" [autoDisplayFirst]="false"></p-dropdown>
                            <label *ngIf="!blnFilaAniadidaSinGuardar || validarFila != i" class="col-form-label">{{prod.nroAlambreAmarre.abreviatura}}</label>
                        </td>
                        <td class="text-center" *ngFor="let rol of prod.listadoDiametrosRoldanaAux">
                            <p-inputNumber *ngIf="blnFilaAniadidaSinGuardar && validarFila == i" [disabled]="!prod.ordenTrabajoDetalle" [(ngModel)]="rol.cantidad" class="inputnumber-table"></p-inputNumber>
                            <label *ngIf="!blnFilaAniadidaSinGuardar || validarFila != i" class="col-form-label">{{rol.cantidad}}</label>
                        </td>
                        <td class="text-center">
                            <p-inputNumber *ngIf="blnFilaAniadidaSinGuardar && validarFila == i" [disabled]="!prod.ordenTrabajoDetalle" [(ngModel)]="prod.cantElectrodos" class="inputnumber-table"></p-inputNumber>
                            <label *ngIf="!blnFilaAniadidaSinGuardar || validarFila != i" class="col-form-label">{{prod.cantElectrodos | number:'2.0-0'}}</label>
                        </td>
                        <td class="text-center">
                            <p-inputNumber *ngIf="blnFilaAniadidaSinGuardar && validarFila == i" [disabled]="!prod.ordenTrabajoDetalle" [(ngModel)]="prod.cantidad" class="inputnumber-table"></p-inputNumber>
                            <label *ngIf="!blnFilaAniadidaSinGuardar || validarFila != i" class="col-form-label">{{prod.cantidad | number:'2.0-0'}}</label>
                        </td>
                        <td class="text-center">
                            <p-checkbox *ngIf="blnFilaAniadidaSinGuardar && validarFila == i" [disabled]="!prod.ordenTrabajoDetalle" [(ngModel)]="prod.indConforme" [binary]="true"></p-checkbox>
                            <label *ngIf="!blnFilaAniadidaSinGuardar || validarFila != i" class="col-form-label">{{prod.indConforme?'C':'NC'}}</label>
                        </td>
                        <td class="last-column">
                            <input *ngIf="blnFilaAniadidaSinGuardar && validarFila == i" [disabled]="!prod.ordenTrabajoDetalle || prod.indConforme" [(ngModel)]="prod.observacion" pInputText class="custom-input-table" type="text">
                            <label *ngIf="!blnFilaAniadidaSinGuardar || validarFila != i" class="col-form-label">{{prod.observacion}}</label>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>