<div class="container-fluid">
    <div class="row mt-5">
        <div class="col"></div>
        <div class="col-4" >
            <p-card styleClass="p-card-shadow">
                <!--Bienvenida-->
                <div class="text-center mb-1">
                    <h1 style="font-size: 20px !important;">Bienvenido a {{ empresa }}</h1>
                </div>
                <div class="row">
                    <div class="col-12 text-center">
                        <img alt="logo" src="assets/magra.png" width="300">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-center">
                        <i style="font-size: 15px !important">!Comprometidos con tu crecimiento¡</i>
                    </div>
                </div>

                <!--Loggin-->
                <div class="row mt-3">
                    <label for="usuario" class="col-2 col-form-label">Empresa:</label>
                    <div class="col-10">
                        <p-dropdown (onChange)="setEmpresa()" [options]="empresas" [(ngModel)]="empresaSeleccionada" optionLabel="razonSocial" placeholder="Seleccione" appendTo="body" [autoDisplayFirst]="false"></p-dropdown>
                    </div>
                </div>
                <div class="row mt-3">
                    <label for="usuario" class="col-2 col-form-label">Sede:</label>
                    <div class="col-10">
                        <p-dropdown styleClass="pitem" [disabled]="!empresaSeleccionada || sedes.length == 0" [options]="sedes" [(ngModel)]="sedeSeleccionada" optionLabel="nombre" placeholder="Seleccione" appendTo="body" [autoDisplayFirst]="false"></p-dropdown>
                    </div>
                </div>
                <div class="row mt-5">
                    <label for="usuario" class="col-2 col-form-label">Usuario:</label>
                    <div class="col-10">
                        <input id="usuario" type="text" pInputText [(ngModel)]="usuario.username" [style]="{'width':'100%'}">
                    </div>
                </div>
                <div class="row mt-3">
                    <label for="password" class="col-2 col-form-label">Contraseña:</label>
                    <div class="col-10">
                        <p-password class="ps-0" [(ngModel)]="usuario.password" [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}" [toggleMask]="true" [feedback]="false"></p-password>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12">
                        <div class="float-end">
                            <a href="javascript:void(0)" class="font-italic">¿Olvidó su contraseña?</a>
                        </div>
                    </div>
                </div>

                <ng-template pTemplate="footer">
                    <div class="row">
                        <div class="col-12 text-center">
                            <p-button label="Iniciar Sesión" (onKeyDown)="aver($event)" styleClass="default-button" (click)="login()" [style]="{width: '130px', height: '32px'}"></p-button>
                        </div>
                    </div>
                </ng-template>
            </p-card>
        </div>
        <div class="col"></div>
    </div>
</div>