<div class="container-fluid" appDraggable dragTarget=".p-dynamic-dialog" dragHandle=".custom-dialog-header">
    <div class="row mt-3 px-0 custom-dialog-header" style="height: 35px">
        <div class="col-11 float-start mt-1"><span>Registro de Hijos de Personal</span></div>
        <div class="col-1 btn-close-modal" (click)="close()">
            <div class="float-end">
                <i class="pi pi-times me-1"></i>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-12 px-0" style="--height-table: 25vh">
            <p-table [value]="hijos" responsiveLayout="scroll">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="--header-table: 40px" class="text-center">
                            <button pButton pRipple type="button" icon="pi pi-plus" class="p-button-rounded p-button-success p-button-text plus-header" (click)="addHijo()"></button>
                        </th>
                        <th style="--header-table: 40px">N</th>
                        <th>Nombre</th>
                        <th style="--header-table: 140px">Fecha Nacimiento</th>
                        <th style="--header-table: 80px">Edad</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-hijo let-i="rowIndex">
                    <tr (dblclick)="activarUsuario(i)" [ngClass]="{'selected':indFilaEditada == i}">
                        <td class="text-center">
                            <div class="col-12 botones">
                                <button [disabled]="indFilaEditada != i && indFilaEditada != -1" pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger btn-body" (click)="quitar(i)"></button>
                            </div>
                        </td>
                        <td class="text-center">{{i + 1 | number: '2.0-0'}}</td>
                        <td>
                            <input type="text" pInputText  class="custom-input-table" [(ngModel)]="hijo.nombreCompleto">
                        </td>
                        <td>
                            <p-calendar class="px-0" [(ngModel)]="hijo.fechaNacimientoStr" appendTo="body" (onSelect)="setEdad(i)" dateFormat="dd M yy"></p-calendar>
                        </td>
                        <td class="text-center last-column">{{hijo.edad | number: '2.0-0'}}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-12">
            <div class="float-end">
                <p-button label="Asignar" styleClass="default-button" [style]="{width: '90px', height: '26px'}" (onClick)="asignarHijos()"></p-button>
            </div>
        </div>
    </div>
</div>