<div class="container-fluid">
    <div class="row mt-5">
        <div class="col"></div>
        <div class="col-4">
            <p-card styleClass="p-card-shadow">
                <div class="text-center mb-1">
                    <h1 style="font-size: 20px !important;">Bienvenido a {{ empresa }}</h1>
                </div>
                <div class="row">
                    <div class="col-12 text-center">
                        <img alt="logo" src="assets/magra.png" width="300">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-center">
                        <i style="font-size: 15px !important">!Comprometidos con tu crecimiento¡</i>
                    </div>
                </div>

                <div class="row mt-4">
                    <label for="usuario" class="col-4 col-form-label">Nueva contraseña:</label>
                    <div class="col-8">
                        <p-password [disabled]="blnCargando" [(ngModel)]="nuevaPass" [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}" [toggleMask]="true" [feedback]="false" (input)="validarPass($event)"></p-password>
                    </div>
                </div>

                <div class="row">
                    <div class="col-1 text-center mt-2">
                        <i *ngIf="blnLng" class="pi pi-check" style="color: green"></i>
                        <i *ngIf="!blnLng" class="pi pi-times" style="color: red"></i>
                    </div>
                    <label class="col-11 col-form-label">Mínimo de 6 caracteres</label>
                </div>

                <div class="row">
                    <div class="col-1 text-center mt-2">
                        <i *ngIf="blnNum" class="pi pi-check" style="color: green"></i>
                        <i *ngIf="!blnNum" class="pi pi-times" style="color: red"></i>
                    </div>
                    <label class="col-11 col-form-label">Al menos un número</label>
                </div>

                <div class="row">
                    <div class="col-1 text-center mt-2">
                        <i *ngIf="blnMin" class="pi pi-check" style="color: green"></i>
                        <i *ngIf="!blnMin" class="pi pi-times" style="color: red"></i>
                    </div>
                    <label class="col-11 col-form-label">Mínimo una minúscula</label>
                </div>

                <div class="row">
                    <div class="col-1 text-center mt-2">
                        <i *ngIf="blnMax" class="pi pi-check" style="color: green"></i>
                        <i *ngIf="!blnMax" class="pi pi-times" style="color: red"></i>
                    </div>
                    <label class="col-11 col-form-label">Mínimo una mayúscula</label>
                </div>

                <div class="row">
                    <label for="usuario" class="col-4 col-form-label">Confirme nueva contraseña:</label>
                    <div class="col-8">
                        <p-password [disabled]="!blnFrstPassValid || blnCargando" [(ngModel)]="nuevaPassConf" [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}" [toggleMask]="true" [feedback]="false" (input)="validarPassConf($event)"></p-password>
                    </div>
                </div>

                <div class="row" *ngIf="blnFrstPassValid">
                    <div class="col-1 text-center mt-2">
                        <i *ngIf="blnCoincidencia" class="pi pi-check" style="color: green"></i>
                        <i *ngIf="!blnCoincidencia" class="pi pi-times" style="color: red"></i>
                    </div>
                    <label class="col-11 col-form-label">Las contraseñas coinciden</label>
                </div>

                <ng-template pTemplate="footer">
                    <div class="row">
                        <div class="col-12 text-center">
                            <p-button [disabled]="!blnCoincidencia || blnCargando" label="Guardar" styleClass="default-button" (onClick)="changePass()" [style]="{width: '130px', height: '32px'}"></p-button>
                        </div>
                    </div>
                </ng-template>
            </p-card>
        </div>
        <div class="col"></div>
    </div>
</div>